* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.contain {
  display: flex;
  margin: 0;
  /* padding: 0 !important; */
}

/* SIDEBAR */

.sidebar {
  background-color: #181b1d;
  color: #dcded9;
  height: 100vh;
  width: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.id-left {
  height: 150px;
  border-radius: 50%;
  margin-top: 80px;
  /* margin-left: 15px; */
  border: 10px solid #f5f7f113;
}

.sidebar-menu {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-right: 15px;
}

.sidebar-menu li {
  padding-top: 15px;
  padding-left: 20px;
  font-size: 1.3rem;
}

/* MAIN */

.main {
  color: #f5f7f1;
  flex: 5;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  margin-left: 200px;
}

p {
  font-size: 1.2rem;
  color: #181b1d;
}

/* HERO */

h1 {
  color: #f5f7f1;
  font-size: 6rem !important;
  padding: 110px 0 300px 0px;
}

.hero {
  background-color: #181b1d;
  color: #f5f7f1;
  height: 100vh;
  margin: 0;
  /* padding: 0; */
  /* padding-bottom: 100px; */
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_name {
  font-size: 3rem;
}

.hero_degree {
  font-weight: 200;
  padding-top: 15px;
}

/* ABOUT */

.about {
  /* height: 100vh; */
  /* background-color: #f5f7f1; */
  background: linear-gradient(#f5f7f1, #fff);
  color: #181b1d;
  padding: 50px;
}

.about h2 {
  font-size: 2rem;
  text-decoration: underline;
  padding-bottom: 20px;
  color: #181b1d;
}

.aboutMe {
  padding: 10px 0;
  width: 75%;
  text-align: justify;
}

.aboutPic {
  border-radius: 25px;
}

.about_content {
  display: flex;
  padding: 20px 0 30px 0px;
}

.info,
.info2 {
  display: inline;
  padding: 30px 0 50px 20px;
  font-size: 1.1rem;
}

.info2 {
  margin-left: 30px;
  display: block;
  padding-top: 5px;
}

.infos_perso {
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  /* background-color: #dcded9; */
  background: linear-gradient(#dcded9, #fff);
  height: 50vh;
}
